<?php if ($categories = $this->getCategory() and !empty($categories->count())): ?>
    <div class="menu_categories menu_block">
        <h3><a href="http://www.projecturl.com/parent_category.html" title="Parent category">Parent category</a></h3>
        <ul>
            <?php foreach ($categories as $category): ?>
                <li>
                    <a href="<?php echo Mage::getUrl($category->request_path); ?>" title="<?php echo $category->name; ?>"><?php echo $category->name; ?></a>
                </li>
            <?php endforeach; ?>
        </ul>
    </div>
<?php endif; ?>