<?php
    $product = $this->getProduct();
    if ($product->allowedComment):
?>
    <?php
        $errors = $this->errors();
        $comments = $this->getComments();
        if ($errors): ?>
            <ul>
                <?php foreach($errors as $error): ?>
                    <li><?php echo $error; ?></li>
                <?php endforeach; ?>
            </ul>
    <?php endif; ?>

    <?php if (!empty($comments)): ?>
        <?php foreach ($comments as $comment): ?>
            <?php echo $comment->email; ?> Created - <?php echo $comment->created_at; ?><br>
            <?php echo $comment->message; ?>
            <hr>
        <?php endforeach; ?>
    <?php endif; ?>

    <?php if ($this->getCustomer()): ?>
        <form method="post" action="<?php echo $this->getUrl('comments'); ?>" class="scaffold-form">
            <textarea name="message" class="input-text"></textarea>
            <?php echo $this->getBlockHtml('formkey'); ?>
            <input type="hidden" name="product" value="<?php echo $product->id; ?>">
            <br><br>
            <button type="submit" title="Subscribe" class="button">
                <span>Comment</span>
            </button>
        </form>
    <?php endif; ?>
<?php endif; ?>